@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-VariableFont_wght"),
    url(./fonts/Comfortaa-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Comfortaa, "Open Sans", sans-serif;
  font-size: 20px;
  color: #111d4a;
  text-align: center;
  line-height: 1.5;
}

h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h2,
h4,
h5 {
  font-weight: 600;
  margin: 10px;
}

nav,
footer {
  padding: 1% 0;
}

a {
  color: rgb(22, 89, 172);
}

p {
  margin: 10px auto;
  max-width: 650px;
}

fieldset {
  width: 400px;
  padding: 20px 40px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(164, 161, 208);
  border: none;
  border-radius: 4px;
  box-shadow: -1px 1px 5px 4px #8789c0;
}

fieldset label {
  margin: 1em 0 0;
  padding: 0.25em 0;
  text-align: left;
  width: auto;
}

fieldset input {
  line-height: 2em;
  padding: 0 0.5em;
  border-radius: 2px;
  border: 2px solid #1a1b41;
  background-color: #f7f7ff;
  color: rgb(0, 0, 0);
}

input[type="submit"] {
  font-family: Comfortaa, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 40px auto 20px;
  padding: 8px 20px 8px 20px;
  width: auto;
  color: #fff;
  background-color: #736b9c;
  border: 1px solid #454545;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 0 #1a1b41;
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}

/* CLASSES */

.errorMessage {
  background: #111d4a;
  color: #f7f7ff;
  border: 3px round #454545;
  border-radius: 20px;
  padding: 10px;
  margin: 40px auto 40px auto;
  width: 400px;
  height: auto;
}

.hidden {
  display: none;
}

.ableLink {
  margin: 10px;
}

.link {
  color: #111d4a;
}

.nav {
  border-bottom: 2px solid #454545;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.navLink {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.googleMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  border-style: solid;
}

.registrationPage {
  padding: 20px;
  margin: 40px auto;
}

/* 
.locationSearch {
  padding-bottom: 20px;
}
.location-search-input {
  width: 250px;
  height: 300px;
  font-size: large;
  margin-top: 10px;
} */

.description {
  width: 60%;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.place {
  display: flex;
  flex-direction: row;
  border-top: solid grey;
  padding-top: 40px;
}

.placeDescription {
  text-align: center;
}

.placeReviews {
  margin: 40px;
  flex-grow: 1;
}

.newReviewContainer {
  margin-top: 20px;
  margin: 40px;
}

.review {
  background-color: rgb(164, 161, 208);
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 4px;
  box-shadow: -1px 1px 5px 4px #8789c0;
  margin-bottom: 25px;
}
.reviewUsername {
  margin: 0;
  color: #111d4a;
}
.reviewText {
  color: #f7f7ff;
  text-align: left;
  padding-left: 20px;
}
.reviewDate {
  font-size: smaller;
  color: #111d4a;
}

.visitedDate {
  color: #111d4a;
  font-style: italic;
}

.star-ratings {
  padding-top: 10px;
}

.prospectParkImage {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

.mapFilterLabel {
  padding-left: 10px;
  padding-right: 10px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewBody {
  margin-top: 20px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.subtext {
  color: #111d4a;
  font-style: italic;
  padding: 20px;
}

.markerTitle {
  font-size: 20px;
  font-weight: 600;
}

.loader {
  border: 0.1em solid #f3f3f3;
  border-top: 0.1em solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.placeIcon {
  width: 40px;
}

.radioOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radioLabel {
  cursor: pointer;
}

/* buttons */

.radioButton {
  color: #f7f7ff;
  width: 110px;
  border: 2px solid #f7f7ff;
  border-radius: 2px;
  cursor: pointer;
  margin: 2px;
}
.checked {
  background: #f7f7ff;
  color: #111d4a;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .prospectParkImage {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .googleMap {
    height: 200px;
    width: auto;
  }
}

@media only screen and (min-width: 520px) {
  fieldset {
    width: 400px;
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 520px) {
  .place {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .radioOptions {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80px;
  }

  .radiolabel,
  .radioButton {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }

  .radioButton {
    margin: 2px 0 2px 0;
  }
}
