@font-face {
  font-family: "Cheltenham";
  src: local("cheltenham-normal-200"),
    url(./fonts/cheltenham-normal-200.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/background-transparant.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fef1eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Cheltenham, "Open Sans", sans-serif;
  font-size: 20px;
  color: #2d2dea;
  text-align: center;
  line-height: 1.5;
}

h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h2,
h4,
h5 {
  font-weight: 600;
  margin: 10px;
}

nav,
footer {
  padding: 1% 0;
}

a {
  color: rgb(22, 89, 172);
}

p {
  margin: auto;
  max-width: 650px;
}

fieldset {
  padding: 20px 40px;
  min-width: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
  color: #2d2dea;
  background-color: #fae6dd;
  border: none;
  border-radius: 4px;
}

fieldset label {
  margin: 1em 0 0;
  padding: 0.25em 0;
  text-align: left;
  width: auto;
}

fieldset input {
  line-height: 2em;
  padding: 0 0.5em;
  border-radius: 2px;
  border: 2px solid #1a1b41;
  background-color: #fef1eb;
  color: rgb(0, 0, 0);
}

input[type="submit"] {
  font-family: Comfortaa, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 40px auto 20px;
  padding: 8px 20px 8px 20px;
  width: auto;
  color: #2d2dea;
  background-color: #d7d7ff;
  border: 1px solid #454545;
  border-radius: 2px;

  cursor: pointer;
}

textarea {
  background-color: #fef1eb;
}

/* CLASSES */

.roamTitle {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navTitle {
  width: 100px;
  margin: 0;
  padding-top: 10px;
}

.errorMessage {
  background: #fae6dd;
  color: #2d2dea;
  border: 3px round #454545;
  border-radius: 50%;
  padding: 60px;
  margin: 40px auto 40px auto;
  width: 400px;
  height: auto;
}

.hidden {
  display: none;
}

.roamLink {
  margin: 10px;
  background-color: #fef1eb;
  border-radius: 50%;
  padding: 10px;
}

.link {
  color: #2d2dea;
}

.placeLink {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.navLink {
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.googleMapDiv {
  padding-bottom: 150px;
  max-width: 1200px;
  margin: auto;
}

.googleMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  border-style: solid;
}

.registrationPage {
  padding: 20px;
  margin: 40px auto;
}

.description {
  font-size: small;
  width: 80%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.descriptionText2 {
  text-align: center;
  max-width: 1000px;
  color: #5757e4db;
  background-color: #fae6dd;
  border-radius: 50%;
  font-style: italic;
  width: 70%;
  padding: 40px 50px 30px 50px;
  margin: 30px auto 20px auto;
}

.place {
  display: flex;
  flex-direction: row;
}

.placeDescription {
  text-align: center;
  padding-bottom: 30px;
}

.placeReviews {
  margin: 30px;
  flex-grow: 1;
}

.newReviewContainer {
  margin-top: 20px;
  margin: 30px;
}

.review {
  margin: auto;
  max-width: 800px;
  color: #2d2dea;
  background-color: #fae6dd;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 20px;
}
.reviewUsername {
  margin: auto;
  color: #2d2dea;
  background-color: #fef1eb;
  width: 20%;
  border-radius: 50%;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

.reviewText {
  color: #2d2dea;
  text-align: left;
  padding: 20px;
  padding-left: 40px;
}
.reviewDate {
  font-size: smaller;
  color: #2d2dea;
}

.visitedDate {
  color: #4f4f4f;
  font-style: italic;
}

.star-ratings {
  padding-top: 10px;
}

.prospectParkImage {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

.mapFilterLabel {
  padding-left: 10px;
  padding-right: 10px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reviewBody {
  margin-top: 20px;
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.subtext {
  color: #2d2dea;
  background-color: #fef1eb;
  border-radius: 50%;
  font-style: italic;
  padding: 28px;
  margin: 10px;
}

.background {
  background-color: #cacaf9;
  border-radius: 15px;
}

.markerTitle {
  font-size: 20px;
  font-weight: 600;
}

.loader {
  border: 0.1em solid #f3f3f3;
  border-top: 0.1em solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.placeIcon {
  width: 40px;
}

.radioOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
.radioOptionsContainer {
  display: flex;
  flex-direction: column;
  height: auto;
}
.radioLabel {
  cursor: pointer;
}

.loginReminder {
  background-color: #fae6dd;
  color: #2d2dea;
  border-radius: 8px;
  max-height: 115px;
  width: 400px;
  margin-left: 20px;
  margin-top: 40px;
}

/* buttons */

.radioButton {
  text-align: center;
  color: #2d2dea;
  width: 110px;
  border: 2px solid #fef1eb;
  border-radius: 2px;
  cursor: pointer;
  margin: 2px;
}
.checked {
  background: #fef1eb;
  color: #2d2dea;
}

.submitButton,
.deleteReview {
  font-family: Comfortaa, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 40px auto 20px;
  padding: 8px 20px 8px 20px;
  width: auto;
  color: #2d2dea;
  background-color: #d7d7ff;
  border: 1px solid #454545;
  border-radius: 3px;
}

/* MOBILE */

/* @media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .prospectParkImage {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .googleMap {
    height: 200px;
    width: auto;
  }
} */

@media only screen and (min-width: 520px) {
  fieldset {
    width: 400px;
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 520px) {
  body {
    display: flex;
    flex-direction: column;
    background: url("./images/background-transparant-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #fef1eb;
  }

  fieldset {
    width: auto;
    margin: 20px;
  }

  /* CLASSES */
  .roamTitle {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .navLink {
    font-size: medium;
  }

  .description {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
  }

  .descriptionText1 {
    text-align: center;
    background-color: #cacaf9;
    border-radius: 50%;
    padding: 40px;
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .descriptionText2 {
    width: auto;
    text-align: center;
    background-color: #fae6dd;
    color: #2d2dea;
    padding: 30px;
    border-radius: 50%;
    margin-right: 40px;
  }

  .descriptionText3 {
    text-align: center;
    background-color: #cacaf9;
    border-radius: 50%;
    padding: 30px;
    margin-left: 60px;
  }

  .prospectParkImage {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .googleMap {
    height: 200px;
    width: auto;
  }
  .place {
    display: flex;
    flex-direction: column;
  }

  .newReviewContainer {
    margin: 30px;
  }

  .loginReminder {
    width: auto;
    margin: 10px;
    padding-bottom: 20px;
  }

  .radioOptionsContainer {
    display: flex;
    flex-direction: row;
  }

  .radioOptions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
  }

  /* BUTTONS */
  .radiolabel,
  .radioButton {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }

  .radioButton {
    margin: 2px 0 2px 0;
  }
}
